<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script th:src="@{/scripts/web.backoffice.curso/frmMantCurso.js}"
        type="text/javascript"></script>
<nav th:replace="~{layout::menu}"></nav>
<div class="card ">
    <div class="card-header text-bg-dark mb-3">
        Mantenimiento de Cursos
    </div>
    <div class="card-body">
        <button id="btnagregar"
                type="button" class="btn btn-primary"><i class="fas fa-plus"></i> Agregar</button>
        <hr />
        <div id="mensaje"></div>
        <table id="tblcurso" class="table">
            <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Profesor</th>
                <th scope="col">Actualizar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cur :${listarCursos}">
                <td th:text="${cur.idcurso}"></td>
                <td th:text="${cur.nombrecurso}"></td>
                <td th:text="${cur.especialidad.nomesp}"></td>
                <td th:text="${cur.profesor.nomprofesor}"></td>
                <td>
                    <button type="button" class="btn btn-info btnactualizar"
                            th:data-curcod="${cur.idcurso}"
                            th:data-curname="${cur.nombrecurso}"
                            th:data-curespecialidad="${cur.especialidad.idesp}"
                            th:data-curprofesor="${cur.profesor.idprofesor}"><i class="fas fa-edit"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal Registrar / Actualizar Curso -->
<div class="modal fade" id="modalNuevo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Curso</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="txtnombrecurso" class="form-label">Nombre Curso</label>
                    <input type="text" class="form-control" id="txtnombrecurso">
                </div>
                <div class="mb-3">
                    <label for="cboespecialidad" class="form-label">Especialidad</label>
                    <select id="cboespecialidad" class="form-control"></select>
                </div>
                <div class="mb-3">
                    <label for="cboprofesor" class="form-label">Profesor</label>
                    <select id="cboprofesor" class="form-control"></select>
                </div>
                <input type="hidden" id="hddidcurso" value="0">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>
                <button type="button" id="btnguardar" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>