<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script th:src="@{/scripts/web/backoffice/product/frmMantAlumno.js}"
        type="text/javascript"></script>
<nav th:replace="~{layout::menu}"></nav>
<div class="card ">
    <div class="card-header text-bg-dark mb-3">
        Mantenimiento de Alumnos
    </div>
    <div class="card-body">
        <button id="btnagregar"
                type="button" class="btn btn-primary"><i class="fas fa-plus"></i> Agregar</button>
        <hr />
        <div id="mensaje"></div>
        <table id="tblproducto" class="table">
            <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Apellido</th>
                <th scope="col">Nombre</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Proce</th>
                <th scope="col">Actualizar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="prod :${listaAlumnos}">
                <td th:text="${prod.idalumno}"></td>
                <td th:text="${prod.apellidoalumno}"></td>
                <td th:text="${prod.nombrealumno}"></td>
                <td th:text="${prod.especialidad.nomesp}"></td>
                <td th:text="${prod.procealumno}"></td>
                <td>
                    <button type="button" class="btn btn-info btnactualizar"
                            th:data-prodcod="${prod.idalumno}"
                            th:data-prodname="${prod.apellidoalumno}"
                            th:data-produnit="${prod.nombrealumno}"
                            th:data-prodcateg="${prod.especialidad.idesp}"
                            th:data-prodprov="${prod.procealumno}"><i class="fas fa-edit"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal Registrar / Actualizar Producto -->
<div class="modal fade" id="modalNuevo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Alumno</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="txtapellidoalumno" class="form-label">Apellido Alumno</label>
                    <input type="text" class="form-control" id="txtapellidoalumno">
                </div>
                <div class="mb-3">
                    <label for="txtnombrealumno" class="form-label">Nombre Alumno</label>
                    <input type="text" class="form-control" id="txtnombrealumno">
                </div>
                <div class="mb-3">
                    <label for="cboespecialidad" class="form-label">Especialidad</label>
                    <select id="cboespecialidad" class="form-control"></select>
                </div>
                <div class="mb-3">
                    <label for="txtprocealumno" class="form-label">Proce</label>
                    <input type="text" class="form-control" id="txtprocealumno">
                </div>
                <input type="hidden" id="hddidalumno" value="0">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>
                <button type="button" id="btnguardar" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>